{{#if model.matured}}
<h4>Подтвержденные блоки</h4>
<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
		  <th>Номер</th>
		  <th>Хэш блока</th>
		  <th>Время генерации</th>
		  <th>Удача</th>
		  <th>Получено</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.matured as |block|}}
        {{partial "blocks/block"}}
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<h3>Пока нет подтвержденных блоков</h3>
{{/if}}
