<div class="container">
  {{#if model.shifts}}
  <h4>Daily work &amp; accounting log</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Hashes submitted *</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.shifts as |shift|}}
        <tr>
          <td>{{format-date-locale shift.timestamp}}</td>
          <td>{{with-metric-prefix shift.hashes}}</td>
          <td>{{format-balance shift.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>* This is a sum of nominal share difficulty, <b>not</b> a real one.</p>
  {{else}}
  <h3>No log records yet</h3>
  {{/if}}
</div>