<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>

  <h3>Contacts</h3>
  <p>Technically related issues may be discussed through email <a href="mailto:admin@ethermine.ru">admin@etherdig.net</a>. You can also join our forum thread <a target="_blank" href="https://forum.bits.media/index.php?/topic/33998-eth-proportcionalnyi-ethereum-pul-20-ghs/">here</a>.</p>
</div>
