<div class="container">
  {{#if model.shifts}}
  <h4>Журнал начислений и работы</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Время</th>
        <th>Работа</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.shifts as |shift|}}
        <tr>
          <td>{{format-date-locale shift.timestamp}}</td>
          <td>{{with-metric-prefix shift.hashes}}</td>
          <td>{{format-balance shift.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>Записей пока нет</h3>
  {{/if}}
</div>