<div class="container">
  <div class="page-header">
    <h1>О проекте</h1>
  </div>
  <h3>Пользовательское соглашение</h3>
  <p>Пользуясь данным сервисом, вы соглашаетесь со всеми возможными рисками, связанными с экспериментальным программным обеспечением.<br/>
     Администрация не может и не будет компенсировать какие-либо безвозвратные потери, но сделает всё возможное для их предотвращения.
  </p>
  <h3>Контакты</h3>
  <p>Вопросы технического характера можно писать по адресу <a href="mailto:admin@etherdig.net">admin@etherdig.net</a>. Также вы можете присоединиться к обсуждению на <a target="_blank" href="https://forum.bits.media/index.php?/topic/33998-eth-proportcionalnyi-ethereum-pul-20-ghs/">форуме</a>.</p>
</div>