<div class="container">
  <div class="page-header">
    <h1>Соединение с API было прервано</h1>
    <p>Обычно это лишь временное явление, которое никак не влияет на майнинг. Пожалуйста, подождите несколько секунд и затем перезагрузите страницу.</p>
  </div>
</div>