<div class="container">
  <div class="page-header">
    <h2>Как присоединиться к нам</h2>
  </div>
  <p>Чтобы присоединиться к генерации Ethereum в нашем пуле, вам нужно подключить свой майнер к Stratum интерфейсу, который доступен по адресу <code>{{config.StratumHost}}:{{config.StratumPort}}</code></p>
  <p>
    <strong>Пример подключения:</strong>
    <code>EthDcrMiner64.exe -epool stratum+tcp://{{config.StratumHost}}:{{config.StratumPort}} -ewal YOUR_ETH_ADDRESS -epsw x -eworker RIG_ID</code>.<br/>
  </p>
  <dl class="dl-horizontal">
    <dt>YOUR_ETH_ADDRESS</dt>
    <dd>Ваш адрес для выплат. <b>Не используйте</b> адреса биржевых аккаунтов, поскольку они вам не принадлежат.<br/>Создайте новый адрес с помощью geth, parity, или же используйте client-side кошелек (например <a href="https://www.myetherwallet.com/" rel="nofollow" target="_blank">MyEtherWallet</a>).<br/>
      <strong>Пример:</strong> <code>0x5b475febb3018f41d0ac3c2f1a864bd102ab5a2e</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      Идентификатор машины, полезен если необходимо отличать машины друг от друга. Если вам этого не требуется, то параметр может быть опущен.
      Этот параметр может содержать только символы из следующего набора: буквы латинского алфавита, цифры от 0-9, а также символы "_" и "-".<br/>
      <strong>Пример:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <div class="page-header">
    <h2>Часто задаваемые вопросы</h2>
  </div>
  <dl class="dl-horizontal">
    <dt>Вопрос:</dt>
    <dd>Как происходят начисления?</dd>
    <dt>Ответ:</dt>
    <dd>Используется метод оплаты за шару (PPS).</dd>

    <dt>Вопрос:</dt>
    <dd>Я запустил майнер, он работает уже некоторое время, но я не вижу выплат. Это нормально? Если да, то почему?</dd>
    <dt>Ответ:</dt>
    <dd>Это нормально и означает, что Ваш баланс еще не достиг порогового значения.</dd>
  </dl>
</div>