<div class="container">
  <div class="page-header">
    <h1>Нет данных по этой учетной записи</h1>
    <p>Если Вы пытаетесь просмотреть статистику по своему аккаунту, то сначала следует отправить на пул хотя бы одно решение.</p>
  </div>
</div>